.summaryContainer {
    position: relative;
    width: 500px;
    height: 250px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
    border-radius: 20px;
    color: orange;
}

.summaryContainer .summaryHeader p {
    font-size: 20px;
}


.summaryContainer .playAgain {
    position: absolute;
    bottom: 20px;
}

.summaryContainer .playAgain img {
    width: 70%;
    cursor: pointer;
}