.questionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.questionContainer .answersContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.questionContainer .answersContainer .answerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.questionContainer .answersContainer .answerBox:hover {
    opacity: 0.6;
}