.questionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.questionContainer p {
    max-width: 70%;
}

.questionContainer .answersContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.questionContainer .answersContainer .answerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    cursor: pointer;
    background: whitesmoke;
    box-shadow: 2px 2px 6px 0px #666;
}

.questionContainer .answersContainer .answerBox:hover {
    opacity: 0.6;
}