@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: Cairo-ExtraLight;
    src: url(fonts/Cairo-ExtraLight.ttf);
}

@font-face {
    font-family: Cairo-Regular;
    src: url(fonts/Cairo-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(249, 222, 86);
}

.flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}